<br><br>
<footer class="py-5 bg-dark">
  <div class="container">
    <div class="row">
      <!-- About Section -->
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase text-white mb-4">เกี่ยวกับร้าน</h5>
        <p class="text-white-50">ร้านเช่าชุดแต่งงานของเรามีบริการเช่าชุดสำหรับทุกโอกาสสำคัญ พร้อมด้วยบริการปรับแก้ไขชุดเพื่อให้คุณได้ชุดที่สมบูรณ์แบบ</p>
      </div>
      <!-- Contact Section -->
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase text-white mb-4">ติดต่อเรา</h5>
        <p class="text-white-50">
          ที่อยู่: 123 ถนนสายสำคัญ กรุงเทพฯ 12345<br>
          โทร: 012-345-6789<br>
          อีเมล: contact@yourwebsite.com
        </p>
      </div>
      <!-- Social Media Section -->
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase text-white mb-4">ติดตามเรา</h5>
        <div>
          <a href="#" class="text-white-50 me-2"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white-50 me-2"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-white-50 me-2"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-white-50 me-2"><i class="bi bi-line"></i></a>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center text-white-50">
        <p class="m-0">&copy; My Website 2024</p>
      </div>
    </div>
  </div>
</footer>
