<br>
<!-- Sidebar -->
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/admin/borrow">จัดการยืม</a>
    <a href="/admin/return">จัดการคืน</a>
    <a href="/admin/manageProducts">จัดการสินค้า</a>
    <a href="/admin/models">จัดการโมเดล</a>
    <a href="/admin/orders">จัดการออเดอร์</a>
    <a href="/admin/customers">จัดการลูกค้า</a>
    <a href="/admin/manageMessages">จัดการข้อความ</a>
  </div>
  
  <!-- Script for Sidebar -->
  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
    }
  
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
    }
  </script>
  